body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; 
    font-size: 1rem;
    background-color: #1b1b1f; 
    color: #e4e4e7; 
    line-height: 1.6;
    overflow-x: hidden; 
}
h3 {
    font-weight: 300;
    font-size: 1.2rem;
}
h4 {
    font-weight: 100;
    font-size: .7rem;
    opacity: .7;
    margin-left: 1.5rem;
}
h5{
    font-weight: 100;
    font-size: .7rem;
    margin: 0;
}

ul,ol,li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e4e4e7;
}

.grey-border-bottom{
    border-bottom: 1px solid #353535;
}
.grey-border-top{
    border-top: 1px solid #353535;
}

.margin-bottom0{
    margin-bottom: 0;
}

/* SVG */
svg {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}
.green {
    fill: green;
}
.red {
    fill: red;
}
.white {
    fill: white;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #e4e4e7;
    text-align: center;
    cursor: pointer;
}
.btn-primary {
    border: 1px solid #ff9933;
    font-size: small;
}
.btn-primary:hover {
    background-color: #ff9933;
    color: #1b1b1f;
}   
.btn-secondary {
    border: 1px solid #0bad0b;
    font-size: small;
}
.btn-secondary:hover {
    background-color: #0bad0b;
    color: #1b1b1f;
}
.btn-sign{
    border: 1px solid #ff9933;
    font-size: small;
    padding: 0.5rem 2rem;
    margin-left: 3rem;
}
.view-all{
    background-color:#2b2b31 ;
    border-radius: .5rem;
    padding: .4rem ;
}



/* Header */
.header {
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    padding: 1rem 6.2rem;    
}
.header-list {
    display: flex;
    align-items: center;
    margin-right: 7rem;
}
.header-list-item {
    margin: 0 1rem;
    cursor: pointer;
}
.header-list-item:last-child {
    padding: 1rem 1rem;
    margin-bottom: .5rem;
}
.header-list-item:hover {
    color: #ff9933;
}
.header-list-item:last-child:hover {
    background-color: #ff9933;  
}

.search-input {
    display: flex; 
    align-items: center; 
    border: 1px solid#2b2b31; 
    border-radius: 0.5rem; 
    padding: 0.2rem; 
    width: 15rem;     
    background-color:#2b2b31; 
    margin-right: 4rem;
}

.search-input input {
    flex-grow: 1; 
    border: none; 
    outline: none; 
    font-size: 1rem; 
    color: #eae9e9;
    font-weight: 100;
    background-color:#2b2b31; 
}

.search-input svg {
    flex-shrink: 0; 
    margin-top: .5rem;
    width: 1.5rem; 
    height: 1.5rem; 
    color: #2b2b31; 
    cursor: pointer; 
}
.search-input svg:hover {
    color:#ff9933; 
}

.language{
    cursor: pointer;
    margin-right: 4rem;
}
.language:hover{
 color: #ff9933;
}

/* Catalog Header */
.catalog-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Catalog Bar */

.catalog{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}
.catalog-list{
    display: flex;   
}
.content{
    margin: .5rem 1.5rem;
    display: flex;
    justify-content: ceter;
    align-items: center;
    gap: .5rem;
} 
.content:hover{
    cursor: pointer;
    color: #ff9933;
}


/* Movie Card Container Big */
.movies-big-container {
    background-size: cover;  
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.movies-big-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
}

.movies-big-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7rem;
   
}

.movies-big-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    
}

.movies-big-nav {
    display: flex;
    gap: 0.5rem;
    padding-right:4rem ;
}
.movies-big-nav svg{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}


.movies-card-big-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center; 
    gap: 1.5rem;
    
}

/*Movie-Card-Big */

.movie-card-big{
    flex: 1 1 calc(100% / 6 - 1rem); 
    max-width: calc(100% / 6 - 1rem);
    margin: 1rem .6rem 5rem;
    position: relative;

}

.movie-card-big-image{
   background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 25rem; 
    width: 100%; 
    padding: 0.5rem; 
    cursor: pointer;
    border-radius: .5rem;
    transition: transform 0.3s ease; 
    position: relative;
}
.movie-card-big-image:hover {
    transform: scale(1.05);
}
.rating {
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: #2b2b31;
    opacity: 0.7;
    font-size: .9rem;
}
.green-rating{
    border: 2px solid #0bad0b;
}
.yellow-rating{
    border: 2px solid #ff9933;
}
.red-rating{
    border: 2px solid red;
}


.movie-card-big-tittle{
    font-size: 1.2rem;
    font-weight: 100;
    margin: 1rem 0 0 0;
    cursor: pointer;
}
.movie-card-big-tittle:hover{
    text-decoration: underline;
}
.movie-card-big-genre{
    font-size: .7rem;
    font-weight: 100;
    margin: 0;
    color: #ff9933;
    cursor:pointer;
}
.movie-card-big-genre:hover{
    text-decoration: underline;
}

/* New Items Section */

.new-items-tittle{
    border-bottom: 1px solid #353535;

}
.new-items-tittle h1 {
    font-weight: 100;
    margin-left: 1.5rem;

}

.new-items-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    margin-left: 1.5rem;
    padding-bottom: 1.5rem;
}
.new-items-list-item {
    cursor: pointer;
}
.new-items-list-item:hover {
    color: #ff9933;
}

/* Movie Card Medium */

.new-items-cards-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem; 
    margin-bottom: 3rem;
}

.movie-card-medium{
    flex: 1 1 calc(100% / 7 - 1rem); 
    max-width: calc(100% / 7 - 1rem);
    margin: 1rem 1rem;
    transition: transform 0.3s ease;
    position: relative;
}
.movie-card-medium-image:hover {
    transform: scale(1.05);
}
.movie-card-medium-image{
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem; 
    width: 100%; 
    padding: .5rem; 
    cursor: pointer;
    border-radius: .5rem;
    position: relative;

}

.movie-card-medium-tittle{
    font-size: 1rem;
    font-weight: 100;
    margin: 1rem 0 0 0;
    cursor: pointer;
}
.movie-card-medium-tittle:hover{
    text-decoration: underline;
}
.movie-card-medium-genre{
    font-size: .7rem;
    font-weight: 100;
    margin: 0;
    color: #ff9933;
    cursor:pointer;
}
.movie-card-medium-genre:hover{
    text-decoration: underline;
}

/* Expected premiere */

.expected-premiere-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1.5rem 0;
}

.expected-premiere-buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.chevron-container {
    display: flex;
    gap: 1rem; 
}

.chevron-left, .chevron-right {
    width: 1.5rem;  
    height: 1.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.chevron-left svg, .chevron-right svg {
    width: 1.5rem; 
    height: 1.5rem;
}


/* Pagination */

.pagination {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
    padding: 4rem 0 4rem;    
}

.pagination a{
    background-color: #2b2b31;
    padding: .7rem 1.2rem;
    border-radius: 10px;
}
.active{
    border: 1px solid #ff9933;
}
.pagination a:hover{
    border: 1px solid #ff9933;    
}


/* Footer */

.footer-text{
    margin: 1rem;
}
.footer-text-header{
    display: flex;
}
.footer-text-header h2{
    font-size: 1.8rem;
    font-weight: 100;
    margin-left: .5rem;
}

/* Price card */
.price-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.price-card {
    width: 22rem;
    margin: 4rem 1.25rem;
    padding: 1.5rem;
    background-color: #2b2b31;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e4e4e7;
}
.price-card:nth-child(1) {
border-top: 3px solid #2b2b31  ;
}
.price-card:nth-child(2) {
border-top: 3px solid #0bad0b  ;
}
.price-card:nth-child(3) {
border-top: 3px solid #ff9933;
}
.price-card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem ;
}
.price-card_header h2 {
    font-size: 1.5rem;
    font-weight: 100;
}
.price-card_header_price {
    font-size: 1.5rem;
    font-weight: 100;
    color: #ff9933;
    display: flex;
    align-items: center;
}

.price-card_header_price h1{
    font-size: 1.5rem;
    font-weight: 100;
}
.price-card_header_price p{
    font-size: 1rem;
}
.price-card_header_green {
    color: #0bad0b;
    display: flex;
    align-items: center;
}
.price-card_header_green h1{
    font-size: 1.5rem;
    font-weight: 100;
}


.price-card_list_item {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    border-bottom: 1px solid #090909;
    padding-bottom: 1rem;
    font-size: .9rem;
}
.price-card_list_item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}


/* Last Line Footer */

.last-line-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;    
}
.last-line-footer-items {
    display: flex;
    align-items: center;
    margin: 1rem 1.5rem;
    cursor: pointer;
    font-size: .9rem;
}
.last-line-footer-items:hover {
    color: #ff9933;
}

.last-line-footer-items svg{
    margin : 0.5rem;
}
.last-line-footer-items:last-child {
    padding: 0;
    border: 1px solid #ff9933;
}

.last-line-footer-items:hover:last-child {
    background-color: #ff9933;
    color: #1b1b1f;
}