.tableContainer :global(.ant-table-tbody > tr) {
  position: relative;
  z-index: 1;
}

.tableContainer :global(.ant-table-tbody) {
  margin-top: 2rem !important;
}
.tableContainer :global(.ant-table-tbody > tr)::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  right: 8px;
  bottom: 4px;
  background-color: #2e2e2e;
  border-radius: 8px;
  z-index: -1;
  transition: background-color 0.2s ease;
}
.tableContainer :global(.ant-table-tbody > tr:hover)::after {
  background-color: #3a3a3a;
}
.tableContainer :global(.ant-table-tbody > tr > td) {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  background: transparent !important;
  color: white;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.tableContainer :global(.ant-table-tbody > tr > td) {
  padding: 15px 25px;
}
.tableContainer :global(.ant-table) {
  border-bottom: none !important;
  color: #ffffff;
  background: transparent;
}

.reviewDetails {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviewIcon {
  color: #999999;
  font-size: 20px;
  border: 1px solid #444;
  border-radius: 30%;
  padding: 8px;
}

.reviewName {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.createdAt {
  font-size: 13px;
  color: #ddd;
}
:global(.ant-pagination) {
  margin-top: 16px;
}

:global(.ant-pagination-item) {
  border-color: #ff9933;
}

:global(.ant-pagination-item-active) {
  border-color: #ff9933 !important;
  background-color: #ff9933;
  color: #fff !important;
}

:global(.ant-pagination-item a) {
  color: #333;
}

:global(.ant-pagination-item-active a) {
  color: #fff !important;
}

:global(.ant-pagination-prev .ant-pagination-item-link),
:global(.ant-pagination-next .ant-pagination-item-link) {
  color: #ff9933;
  border-color: #ff9933;
}
.baseBtn {
  background-color: #2c2c33;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  font-size: 16px;
}

.viewBtn {
  color: #4dabf7;
}

.viewBtn:hover {
  background-color: #4dabf722;
}

.lockBtn {
  color: #3fcf8e;
}

.lockBtn:hover {
  background-color: #3fcf8e22;
}

.deleteBtn {
  color: #f25c5c;
}

.deleteBtn:hover {
  background-color: #f25c5c22;
}
