<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/index.css">
    <title>Document</title>
</head>


<div class="movies-big-container">

<div class="movies-big-header">
    <h2 class="movies-big-title"> <b>NEW ITEMS</b> OF THIS SEASON</h2>
    <div class="movies-big-nav">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-9">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
        </svg>
          
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-9">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
          </svg>
          
          
    </div>
</div>      
           
    <div class="movies-card-big-list">
        
        <div class="movie-card-big">
            <div class="movie-card-big-image">
                <div class="movie-card-big-rating-green">8</div>
            </div>
            <h2 class="movie-card-big-tittle">Benched</h2>
            <p class="movie-card-big-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-big">
            <div class="movie-card-big-image">
                <div class="movie-card-big-rating-red">8</div>
            </div>
            <h2 class="movie-card-big-tittle">Benched</h2>
            <p class="movie-card-big-genre">Action, Thriller</p>
        </div>        

        <div class="movie-card-big">
            <div class="movie-card-big-image">
                <div class="movie-card-big-rating-yellow">8</div>
            </div>
            <h2 class="movie-card-big-tittle">Benched</h2>
            <p class="movie-card-big-genre">Action, Thriller</p>
        </div>        

        <div class="movie-card-big">
            <div class="movie-card-big-image">
                <div class="movie-card-big-rating-green">8</div>
            </div>
            <h2 class="movie-card-big-tittle">Benched</h2>
            <p class="movie-card-big-genre">Action, Thriller</p>
        </div>        

        <div class="movie-card-big">
            <div class="movie-card-big-image">
                <div class="movie-card-big-rating-green">8</div>
            </div>
            <h2 class="movie-card-big-tittle">Benched</h2>
            <p class="movie-card-big-genre">Action, Thriller</p>
        </div>        
    </div>
</div>


    
</body>
</html>