<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/index.css">
    <title>Document</title>
</head>
<body>

    <div class="new-items-tittle">
        <h1>New Items</h1>
        <ul class="new-items-list">
         <li class="new-items-list-item">NEW RELEASES</li>
         <li class="new-items-list-item">MOVIES</li>
         <li class="new-items-list-item">TV SERIES</li>
         <li class="new-items-list-item">CARTOONS</li>
        </ul>
    </div>

    <div class="new-items-cards-container">

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>


        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>


        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>

        <div class="movie-card-medium">
            <div class="movie-card-medium-image">
                <div class="movie-card-medium-rating-green">8</div>
            </div>
            <h2 class="movie-card-medium-tittle">Benched</h2>
            <p class="movie-card-medium-genre">Action, Thriller</p>
        </div>


    </div>
    
</body>
</html>